{% extends 'instas/base.html' %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}


<div class='container'>
    <div class="column">
        <div class="image_content">
            {% for image in images %}
            <div class="jumbotron">
                <div class="">
                    <img src="{{image.image_image.url}}" class="img-responsive" alt="Image"> <br><br>
                </div>
                <div class="image_name">
                    <h3><a href="image.html">{{image.name}}</a></h3>
                </div>
                <div class="img_prof">
                    <p>{{image.profile}}</p>
                </div>
          
                <div class="iconic ml-2">
                        <a class='info' href="{% url 'likePost' image.id %}">
                          <i style="font-size: 20px; margin-left: 15px;margin-top: 15px;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSzuhHODOk-BSgZz20rMggG8oxopF12ElXKVKhlIvEATP7IiSs2" height="20px" width="20px"></i>
                        </a><span style="font-size:25px;">{{image.likes.count}}</span>
                      </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}